---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Baseline Demo">
  <ul class="space-y-4 w-48 mx-auto">
    {
      [
        { text: "Popover", link: "/demo-popover" },
        { text: "Select", link: "/demo-select" },
      ].map(({ text, link }) => (
        <li class="hover:shadow-xl transition-shadow">
          <a
            href={link}
            class="p-6 rounded-lg shadow-lg bg-white block text-lg font-medium text-gray-900 hover:text-blue-600"
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  body {
    min-height: 100vh;
    place-items: center;
    display: grid;
    padding: 1rem;
  }
</style>
